/*colors: https://coolors.co/805e55-ffecba-e0958a-6b8d8c-24110b-e7b570-be6857:nth-of-type()*/
body {
    background-color: #ffecba;
    font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Bodoni Moda', serif; */
  }
    .topNav {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: 2;
  }
  .topNavLinks {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid darkgreen; */
    height: 88px;
    align-items: flex-end;
  }

  .topNavLinks > a {
    color: #805e55;
    margin: 1% 1%;
    height: 50px;
    width: 20%;
    font-size: 20px;
    text-align: center;
    background: none;
    padding: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
  }

  .topNavLinks a:hover {
    font-weight: bold;
  }
 
 h1 {
   font-size: 75px;
 }
  .bottomNav {
    display: flex;
    justify-content: flex-start;
    height: 160px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 699px) {
  /* -----------------------Top Nav @699-------------------- */
  header {
    display: flex;
    justify-content: flex-end;
  }

.topNav {
  display: block;
  position: relative;
  height: auto;
  overflow: hidden;
  flex-direction: column;
  align-items: right;
  /* border: 2px dotted peru; */
}
 #topNavLinks {
  display: none;
  height: auto;
}
.topNav a {  
  color: #805e55;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topNav a.icon {
  background: #ffecba;
  display: block;
  right: 0;
  top: 0;
  padding: 7px 7px;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
}
.icon {
  margin-left: 35px;
  margin-right: 5px;
  margin-top: 5px;
}
.bars {
  width: 30px;
  height: 3px;
  background-color: #805e55;
  margin: 6px 0;
}
/* ------------------------Main @699 ------------------- */
h1 {
  font-size: 38px;
}
}
