.outerBackgroundWrapper {
    display: grid;
    grid-template-rows: 300px 100px 2fr;
    grid-template-columns: 1fr;
}
.outerBackground {
    background-color: #e0958a;
    width: vw;
    grid-row: 3/-1;
    grid-column: 1/-1;
}
 main {
     grid-row: 1/-1;
     grid-column: 1/-1;
     border: 1px solid hotpink;
    width: 100%;
    max-width: 1435px;
    min-width: 1024px;
    height: 100%;
    display: grid;
    grid-template-rows: 60px .25fr 91px  1fr 1fr 1fr .5fr;
    grid-template-columns: 3fr 2fr 10fr 2.5fr 5fr 4fr 3fr;
    color: #805e55; 
}
.backgroundColorImgWrapper {
    grid-row: 1/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: 300px 100px 2fr;
    grid-template-columns: 1fr;
}
.backgroundBottom {
    background-color: #e0958a;
    width: vw;
    grid-row: 3/-1;
    grid-column: 1/-1;
}

.galleryContainer {
    grid-row: 2/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.galleryImage {
    height:275px;
    width: auto;
    border: 1px solid green;
    margin: 15px;
}
img {
    object-fit: contain;
    height: 100%;
}

h1 {
    grid-row: 3/4;
    grid-column: 3/4;
    font-size: 75px;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: none;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottomNav {
    display: flex;
    justify-content: flex-start;
    height: 120px;
    background-color: #e0958a;
}


@media (max-width: 1024px) {
   body {
       min-width: 700px;
    }
    #topNav {
        height: 44px;
    }
    .mainContain {
        width: 100%;
        min-width: 700px;
        height: 100%; 
        display: grid;
        grid-template-columns: 2fr 1fr 3fr 3fr 2fr 3fr 9fr 2fr;
        grid-template-rows: .75fr .75fr 1.5fr 1.6fr .4fr 1fr 1fr 1fr;
    }
    .backgroundColorImgWrapper {
       
        grid-template-rows: .6fr 100px 2.15fr;
     
    }
    #backgroundBottom {
        grid-row: 7/-1;
    }
    h1 {
        grid-column: 3/6;
        grid-row: 1/3;
        font-size: 48px;
        margin-top: 40px;
    }
    #imageBox {
        grid-column: 2/7;
        grid-row: 6/8;
        background-color: #6b8d8c;
        height: 285px;
        width: 285px;
        }
    .quote {
        grid-row-start: 2;
        grid-column: 6/8;
        font-size: 28px;
        padding-bottom: 50px;
    }
    .mainArticle {
        grid-row: 5/-1;
        grid-column: 4/8;
        margin-top: 50px;
    }
    h2 {
        font-size: 48px;
        margin: 0;
    }
    .articleText {
        font-size: 21px;
        margin-right: 15px;
        margin-bottom: 30px;
        margin-top: 35px;
    }
    .bottomNav {
        height: 66px;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #leftList {
        display: flex;
        flex-direction: row;
    }
    #rightList {
        display: flex; 
        flex-direction: row;
    }
} 

@media (max-width:699px) {
    body {
        min-width: 0;
    }
    header {
        display: block;
    }
    .mainContain {
        /* height: 1100px; */
        min-width: 0;
        grid-template-rows: 1fr 2fr 3fr 1fr 3fr 9fr 1fr 14fr;
        grid-template-columns: 1fr;
    }
    h1 {
        grid-row: 2/3;
        grid-column: 1/-1;
        justify-content: center;
    }
    .quote {
        grid-row: 3/6;
        grid-column: 1/-1;
        font-size: 25px; 
        text-align: center;
        align-items: center;
        padding-top: 50px;
    }
    .imageBox {
        grid-row: 2/7;
        grid-column: 1/-1;
        margin: 0 auto;
        width: 50vw;

    }
    image {
        max-width: 100%;
        height: auto;
    }
    #backgroundBottom {
        grid-row: 6/-1;
        grid-column: 1/-1;
    }
    .mainArticle {
        grid-row: 7/-1;
        grid-column: 1/-1;
        margin: 0 20px;
        font-size: 18px;
    }
  ul {
     padding-inline-start: 0px;
  }

}

