.outerBackgroundWrapper {
    display: grid;
    grid-template-rows: 300px 100px 1fr;
    grid-template-columns: 1fr;
}
/* width */

.outerBackground {
    background-color: #805e55;
    width: vw;
    grid-row: 3/-1;
    grid-column: 1/-1;
}
 main {
     grid-row: 1/-1;
     grid-column: 1/-1;
     /* border: 1px solid hotpink; */
    width: 100%;
    max-width: 1435px;
    height: 100%;
    display: grid;
    grid-template-rows: 300px 100px 1fr;
    grid-template-columns: 3fr 21fr;
    color:  #805e55; 
}
.backgroundColorImgWrapper {
    grid-row: 1/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: 300px 100px 1fr;
    grid-template-columns: 1fr;
}
.backgroundBottom {
    background-color: #e0958a;
    width: vw;
    grid-row: 3/-1;
    grid-column: 1/-1;
}

.galleryContainer {
    grid-row: 2/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.galleryImage {
    height:275px;
    width: auto;
    /* border: 1px solid green; */
    margin: 15px;
    display: block;
    position: relative;
    text-align: center;
   
}
img {
    object-fit: contain;
    height: 100%;
}
.overlay {
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    opacity: 0;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.overlay:hover {
    /* opacity: 0;  */
    opacity: 100;
    font-size: 50px;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    width: 100%;
    height: 100%; */
    background-color: rgba(224, 149, 138, 0.75); 
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    color: #ffecba;
}


img:hover {
    filter: grayscale(100%);
}

h1 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 75px;
    display: flex;
    justify-content: left;
    margin: 0;
    margin-top: 60px;
    padding: none;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottomNav {
    background-color: #805e55;
    margin-top: 0px;
}
.socialMediaImg {
    background-color: #805e55;
}


@media (max-width: 1024px) {
    
   body {
       min-width: 700px;
    }
    #topNav {
        height: 44px;
    }
    .outerBackgroundWrapper, .backgroundColorImgWrapper , .mainContain {
grid-template-rows: 200px 100px 1fr
    }
    .mainContain {
        width: 100%;
        height: 100%; 
        display: grid;
        grid-template-columns: 3fr 21fr;
    }

    h1 {
        grid-column: 2/3;
        grid-row: 1/3;
        font-size: 48px;
        margin-top: 60px
    }
}



@media (max-width:699px) {
    body {
        min-width: 0;
    }
    .outerBackgroundWrapper, .backgroundColorImgWrapper , .mainContain {
        grid-template-columns: 1fr;
            }
    
    h1 {
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-content: center;
    }

}
   .galleryImage {
       display: flex;
       max-height: 250px;
       
   }
    
    

}

