.outerBackgroundWrapper {
  display: grid;
  grid-template-rows: 300px 100px 1fr;
  grid-template-columns: 1fr;
}

.outerBackground {
  background-color: #e0958a;
  width: vw;
  grid-row: 3/-1;
  grid-column: 1/-1;
}

main {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  max-width: 1435px;
  height: 100%;
  display: grid;
  grid-template-rows: 300px 100px 1fr;
  grid-template-columns: 3fr 21fr;
  color: #805e55;
}

.backgroundColorImgWrapper {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 300px 100px 1fr;
  grid-template-columns: 1fr;
}
.backgroundBottom {
  background-color: #e0958a;
  width: vw;
  grid-row: 3/-1;
  grid-column: 1/-1;
}

.galleryContainer {
  grid-row: 2/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.galleryDisplay {
  height: 270px;
  width: 390px;
  /* border: 1px solid red; */
  background-color: #805e55;
  margin: 15px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 40% 40% 20%;
}

.imgCont {
  /* opacity: .25; */
  grid-row: 1/-1;
  grid-column: 1/-1;
  object-position: bottom right;
  height: 40%;
  width: 40%;
  border: 5px solid;
  background-color: #ffecba;
/* transition */
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transform: translate (-50%, -50%);
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imgCont:hover{
  height: 100%;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.galleryImg {
  filter: grayscale(100%);
  opacity: 0.25;
  /* in order for object-fit to work, the image needs height and width */
  width:100%;
  height:100%;
  object-fit: cover;
  object-position:0% 0%;

  /* transition */
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.galleryImg:hover{
  
  opacity: 100;
  filter: none;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}


.skillsCont {
  color: #ffecba;
  /* border: 1px solid gold; */
  grid-column: 2/-1;
  grid-row-start: 1;
  margin: 8% 8% 0 8%;
  display: flex;
  font-size: 25px;
  justify-content: space-around;
  align-content: space-between;
  /* align-items: flex-end; */
  flex-wrap: wrap;
}

.skills {
  border: 1px solid #805e55;;
  padding: -8px 4px;
}
.projectTitle {
  color:#ffecba;
  margin-top: 0;
  /* margin-left: 3%; */
  grid-column: 1/-1;
  grid-row-start: 2;
  justify-content: center;
}

.bottomRow {
  color:#805e55;
  background-color:#ffecba;
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.bottomRow:active{
  border: 6px solid;
}

.site {
  grid-column: 1/2;
  grid-row:3/4;
}

.story {
  /* grid-column: 3/4;
  grid-row: 3/4;
  height: 100%;
  width: 100%; */

  grid-column: 1/-1;
  grid-row: 1/-1; 
  height: 20%;
  width: 40%;
  margin-left: 60%;
  margin-top: 55.5% 
}



/* .story.clicked .description {
  display: block;
} */

/* .storyLabel{ */
  /* display: none; */

/* } */

.description {
  grid-row: 1/-1;
  grid-column: 1/-1;
  background:#ffecba;
  height: 20%;
  width: 40%;
  margin-left: 60%;
  margin-top: 55.5%;
  z-index: -1;
  border: 5px solid;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.descClicked {
  /* display: block; */
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 2;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.text {
  z-index: -1;
  color:#ffecba;
  display: none;
  transition-property: color;
  transition-duration: 10s;
  transition-timing-function: ease;
}
.textClicked {
  display: flex;
  z-index: 2;
  color:#805e55;
  transition-property: all;
  transition-duration: 10s;
  transition-timing-function: ease;
}

h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 75px;
  display: flex;
  justify-content: left;
  margin: 0;
  margin-top: 60px;
  padding: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottomNav {
  background-color: #e0958a;
  margin-top: 0px;
}
.socialMediaImg {
  background-color: #e0958a;
}

@media (max-width: 1024px) {
  body {
    min-width: 700px;
  }
  #topNav {
    height: 44px;
  }
  .outerBackgroundWrapper,
  .backgroundColorImgWrapper,
  .mainContain {
    grid-template-rows: 200px 100px 1fr;
  }
  .mainContain {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 21fr;
  }

  h1 {
    grid-column: 2/3;
    grid-row: 1/3;
    font-size: 48px;
    margin-top: 60px;
  }
}

@media (max-width: 699px) {
  body {
    min-width: 0;
  }

  .outerBackgroundWrapper,
  .backgroundColorImgWrapper,
  .mainContain {
    grid-template-columns: 1fr;
  }

  h1 {
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-content: center;
    font-size: 38px;
  }

  .galleryImage {
    display: flex;
    justify-content: center;
    max-height: 250px;
  }
}
