
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .rightBackground {
    background-color: #e0958a;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
.contentWrapper {
  border: solid 1px seagreen;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr 2fr 3fr 2fr 1fr 234px 10fr 1fr;
  grid-template-rows: 4fr 2fr 1fr 7fr 3fr 2fr 1fr 2fr 2fr;
  max-width: 1430px;
}

  .nameBackgroundColor {
   /* display: grid;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 1fr;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    justify-content: start;
    height: 100%;
    width: 100wh;
    margin: 5px;*/
    grid-column: 2/-1;
    grid-row: 1/-1;
    border: solid 2px blue;
    display: grid;
    grid-template-columns: 61px 147px 1fr;
    grid-template-rows: 4fr 2fr 18fr;
    width: 875px;
    height: 100%;
  
  }
  h1 {
    color: #6b8d8c;
    margin: 3% auto;
    border: 2px solid #1940A9;
    grid-column: 1/3;
    grid-row: 2/3;
    padding-left:5px;
    /*grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;*/
  }
  .backgroundSquare {
    border: 2px solid brown;
    background-color: #e0958a;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }

.picTitle {
  border: 1px solid slateblue;
  grid-column: 4/8;
  grid-row: 4/6;
  width: 400px;
  display: flex;
}
  h2 {
    font-style: italic;
    grid-column: 8/9;
    grid-row: 4/6;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items:flex-end;
  }
  .portfolioButton {
    background-color: #818585 ;
    grid-column: 6/8;
    grid-row: 8/9;
  }
  .selfStatement {
    border: 1px solid teal;
    font-size: larger;
    grid-column: 10/12;
    grid-row: 5/7;
    max-width: 325px;
    padding-right: 20px;
    
  }
  .small-text {
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }
  button {
    margin: 3% auto;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    color: #6b8d8c;
    letter-spacing: 16px;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
  }
 
  .profile-pic {
    width: 400px;
    height: 400px;
  
  }
    