
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  }

.rightBackground {
  background-color: #e0958a;
  grid-column: 2/-1;
  grid-row: 1/-1;
  }

.contentWrapper {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 4fr 2.5fr 2fr 1fr 2fr 3fr 2fr 9fr 10fr 1fr;
  grid-template-rows: 75px 175px 275px 400px;
  max-width: 1430px;
}

  .nameBackgroundColor {
  grid-column: 2/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 188px 400px 1fr;
  grid-template-rows: 1fr 1fr 6fr;
  width: 875px;
  height: 100%;
  }

  h1 {
    color: #805e55;
    margin: 3% auto;
    grid-column: 1/3;
    grid-row: 2/3;
    padding-left: 5px;
    font-weight: bold;
    align-content: left;
  }

  .backgroundSquare {
    background-color: #e0958a;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }

.picTitle {
  grid-column: 6/8;
  grid-row: 3/5;
  width: 400px;
  display: flex;
  
}

  h2 {
    font-style: italic;
    grid-column: 8/9;
    grid-row: 4/6;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items:flex-end;
    font-weight: 400;
  }

  .selfStatement {
    font-size: larger;
    grid-column: 8/-1;
    grid-row: 4/5;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 45px;
    font-style: italic;
    margin-right: 30px;
  }
  
  .profile-pic {
    width: 400px;
    height: 400px;
  }
  

  @media (max-width: 1024px) {
    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .rightBackground {
      display: none;
    }

    .nameBackgroundColor {
      width: 100%;
      min-width: 675px;
      grid-template-columns: 175px 400px 1fr;
    }

    .contentWrapper  {
      grid-template-columns:  1fr 55px 27px 55px 83px 2fr 9fr 10fr 1fr;
      grid-template-rows: 60px 175px 375px 315px;
    }

    .selfStatement {
      grid-column: 7/-1;
      font-size: 40px;
    }
    
    h1 {
      margin-left: 112px;
    }

    .profile-pic {
      width: 350px;
      height: 350px;
    }

  }


  @media (max-width: 699px) {
   body {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }

    #contentWrapper {
      grid-template-columns: 20% 80%;
      grid-template-rows: 1fr 2fr 1.5fr;
      width: 100%;
      min-width: 0px;
    }
    
    #nameBackgroundColor {
      grid-template-columns: 20% 80%;
      grid-column: 1/-1;
      grid-row: 1/-1;
      width: 100%;
      min-width: 0px;
    }
    
    h1 {
      margin: 0px;
      margin-left: -43px;
      grid-column: 2/-1;
      width: vw;
    }

    .picTitle {
      grid-column: 1/-1;
      grid-row: 2/3;
      margin-left: 20;
      margin-top: 20px;
      justify-content: center;
      width: 100%;
    }
    
    .profile-pic {
      width: 280px;
      height: 280px;
    }

    h2 {
      display: none;
    }

    .selfStatement {
      grid-column: 2/-1;
      grid-row: 3/-1;
      display: flex;
      text-align: center;
      margin: .3em 0 .3em 0;
      font-size: 28px;
      padding: 0 .3em;
      justify-self: center;
      align-self: center;
    }
    
    footer {
      display: flex;
      justify-content: center;
      align-content: flex-end;
    }
    
  }
  